<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator - App Rao Vat 2022</title>
    <link rel="stylesheet" type="text/css" href="./layout.css" />
    <script src="./jquery.js"></script>
    <script src="./js/ajax.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="left">
            <img id="logo" src="./images/Logo_CUSC.png" alt="">
            <div id="menu">
                <a href="./city">Thanh pho</a>
                <a href="./category">Nhom SP</a>
                <a href="./token">Token</a>
            </div>
        </div>
        <div id="content">
            <%- include(content) %>
        </div>
    </div>
</body>
</html>